/* basic page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box-one {
    background: brown;
}

.box-two {
    background: chartreuse;
}

.box-three {
    background: cornflowerblue;
}

.box-four {

}

.box-five {

}

.box-six {

}

.box-seven {

}

.box-eight {

}

.box-nine {

}

.box-ten {
    
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box1"
    "box2 ."
    ". box3";
    /* "box3 ." - a dot is an empty space in a grid */
}