/* basic page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box-one {
    background: brown;
    height: 200px;
}

.box-two {
    background: chartreuse;
}

.box-three {
    background: cornflowerblue;
}

.box-four {
    background: red;
}

.box-five {
    background: purple;
}

.box-six {
    background: palegoldenrod;
}

.box-seven {
    background: orange;
}

.box-eight {
    background: pink;
}

.box-nine {
    background: green;
}

.box-ten {
    background: brown;
}

main {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box1"
    "box2 ."
    ". box3";
    /* "box3 ." - a dot is an empty space in a grid */
}